@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@layer utilities{
  .gradient{
    @apply bg-gradient-to-b from-white via-blue-300  to-blue-600
  }
  .gradient-for-text{
    @apply gradient text-transparent bg-clip-text
  }
}
